<%# TOM'S TEST CODE, WILL DELETE THIS FILE AFTER DONE %>

<% else %>
  <% flash[:alert] = @products %>
  <% unless @product.nil? %>
    <% if @products.empty? %>
      <h2>No products found</h2>
    <% else %>
    <%# Sorting of products %>
    <%= render 'shared/sortby' %>
    <% unless @query.nil? %>
      <h2>Search results for "<%=@query%>"</h2>
    <% end %>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Image</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |product| %>
        <tr>
          <td>
            <%= link_to product.name, product %>
          </td>
          <td>
            <%= product.price %>
          </td>
          <td>
            <% if product.image.attached? %>
              <%= link_to image_tag(product.image, class: "productImage"), product_path(product.id) %>
            <% else %>
              <%= link_to image_tag("Icon.png", class: "productImage"), product_path(product.id) %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  <% end %>
<% end %>
