<h1>Listings</h1>

<%# Sorting of products %>
<%= render 'shared/sortby' %>

<% unless @products.nil? %>
  <% if @products.empty? %>
    <h2>No products found</h2>
  <% elsif !@categories_products.empty? %>
    <section class="categoriesProducts">
    <% @categoryNames.each do |catName| %>
      <h2><%= catName %></h2>
      <div class="carousel-container">
        <div class="carousel-inner">
          <div class="track">
            <% if !@categories_products["#{catName}"].empty? %>
              <% @categories_products["#{catName}"].each do |product| %>
                <div class="item-container">
                  <div class="item">
                    <div class="img">
                      <% if product.image.attached? %>
                        <%= link_to image_tag(product.image, class: "productImage"), product_path(product.id) %>
                      <% else %>
                        <%= link_to image_tag("Icon.png", class: "productImage"), product_path(product.id) %>
                      <% end %>
                    </div>
                    <div class="info">
                      <p><%= product.name %></p>
                      <p><%= number_to_currency(product.price, :unit => "£") %></p>
                    </div>
                  </div>
                </div>
              <% end %>
            <% else %>
              <h4>No items found!</h4>
            <% end %>
          </div>
        </div>
        <% if !@categories_products["#{catName}"].empty? && @categories_products["#{catName}"].length > 5 %>
          <div class="nav">
            <button class="prev"><%= image_tag( "left-arrow.png") %></button>
            <button class="next"><%= image_tag( "right-arrow.png") %></button>
          </div>
        <% end %>
      </div>
    <% end %>
    </section>
  <% else %>
    <% unless @query.nil? %>
      <h2>Search results for "<%=@query%>"</h2>
    <% end %>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Image</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |product| %>
        <tr>
          <td>
            <%= link_to product.name, product %>
          </td>
          <td>
            <%= product.price %>
          </td>
          <td>
            <% if product.image.attached? %>
              <%= link_to image_tag(product.image, class: "productImage"), product_path(product.id) %>
            <% else %>
              <%= link_to image_tag("Icon.png", class: "productImage"), product_path(product.id) %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>
<br/>
<%= link_to 'New Product', new_product_path %>
