<h2>Wish List</h2>

<%# Sorting of products %>
<%= render 'shared/sortby' %>

<div class="userwishlisttable">
  <% @favorites.each do |favourite| %>
    <%# Gets the asociated product %>
    <% product = Product.product_id(favourite.product).first %>
    <div class="wishlistrow">
      <div class="image-container-wishlist">
        <% if product.image.attached? %>
          <%= link_to image_tag(product.image, class: "productImage"), product_path(product.id) %>
        <%# Prevents errors if no image found %>
        <% else %>
          <%= link_to image_tag("Icon.png", class: "productImage"), product_path(product.id) %>
        <% end %>
      </div>
      <div class="about">
        <h4><%= product.name %><h4>
        <p><%= product.description %></p>
        <p><%= number_to_currency(product.price, :unit => "£") %></p>
      </div>
      <div class="options">
        <% if product.user.email == current_user.email %>
        <%= link_to image_tag("/assets/deleteicon.png", :alt => "delete icon", :class => "icon"), wishlist_path(product: product), data: {confirm: "Are you sure you want to remove " + product.name + " from your wish list?"} %>
        <%end%>
      </div>
    </div>
  <% end %>
</div>
