<p>
  <%= "Dear Surrey SUBS," %>
</p>

<dl>
  <dt>Name:</dt>
  <dd>
    <%= @name %>
  </dd>
  <dt>Email:</dt>
  <dd>
    <%= @email %>
  </dd>
  <dt>Telephone:</dt>
  <dd>
    <%= @telephone %>
  </dd>
</dl>
<p>
  <%= @message %>
</p>
<p>Thanks,</p>
<p>
  <%= @name %>
</p>
