<nav class="navbar navbar-custom navbar-fixed-top">
  <div class="container-fluid">
    <%= link_to image_tag("/assets/mainlogo.png", :alt => "Subs logo", :class => "navlogo"), root_path %>
    <ul class="nav navbar-nav navbar-left">
      <% if user_signed_in? %>
        <li>
          <%= link_to t('navigation.main'), listings_path %>
        </li>
        <li>
          <%= render 'shared/search' %>
        </li>
      <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li>
          <div class="dropdown">
            <button class="dropbtn"><%= current_user.firstname %></button>
            <div class="dropdown-content">
              <a href="/products/new">Create listing</a>
              <%= link_to "Selling", "/products" %>
              <%= link_to t('navigation.profile'), edit_user_registration_path %>
            </div>
          </div>
        </li>
        <li>
          <%= link_to t('navigation.logout'), destroy_user_session_path, method: 'delete' %>
        </li>
      <% else %>
        <li>
          <a href="<%= new_user_registration_path %>">
            <%= t('navigation.register') %>
          </a>
        </li>
        <li>
          <a href="<%= new_user_session_path %>">
            <%= t('navigation.login') %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
