<div class="landing">
  <h1 class="title">  <%= t(".title") %>  </h1>
  <h2> <%= t(".full_title") %> </h2>
</div>
<section class="homesection1">
  <div class="aboutsubs">
    <h3> <%= t(".description_header") %> </h3>
    <p> <%= t(".description") %> </p>
  </div>
  <div class="subsdiagram">
    <%= image_tag("/assets/homeinstruc.png", :alt => "rss feed") %>
  </div>
</section>
<section class="homesection2">

</section>
