<div class="landing">
  <h1 class="title">  <%= t(".title") %>  </h1>
  <h2> <%= t(".full_title") %> </h2>
</div>
<div class="seconeexplain">
  <h3> <%= t(".description_header") %></h3>
  <p>For Surrey Students only - whether you want to exchange your items for cash or buy something unique... SUBS has got you covered!</p>
</div>
<section class="homesection1">
  <div class="subsdiagram">
    <h3>Buy</h3>
    <%= image_tag("/assets/homeinstruc.png", :alt => "rss feed") %>
  </div>
  <div class="subsdiagram">
    <h3>Sell</h3>
    <%= image_tag("/assets/subsBuy.jpg", :alt => "rss feed") %>
  </div>
</section>
<section class="homesection2">
  <div class="sectwoexplain">
    <h3>What's so special about SUBS?</h3>
    <p>Currently there is no go to way for Surrey students to buy or sell items effectively. We want to bring the Surrey student community closer together and believe in the power of second chances, which is why our mission is to become Surrey University's most loved and trusted community of creators, buyers and sellers.</p>
  </div>
  <div class="uniqueSubs">
    <div class="textwhy">
      <h4>It's simple</h4>
      <p>SUBS has no listing fees and no selling fees. Students need every last penny they can get so we don't want to charge students to list their items.</p>
    </div>
    <div class="textwhy">
      <h4>No to auctions</h4>
      <p>If you're buying or selling second hand, we offer a great alternative to the hassle and expense of auction sites.</p>
    </div>
    <div class="textwhy">
      <h4>Made for buyers and sellers</h4>
      <p>We are made for both buyers and sellers. So, whether you're wanting to find a new home for your unwanted items, or bag yourself a bargain, SUBS can help.</p>
    </div>
    <div class="textwhy">
      <h4>Good for the planet</h4>
      <p>Whether you're buying or selling, you're helping us on our mission to reduce landfill. Recycling is really important to SUBS. Let's all do our bit!</p>
    </div>
  </div>
</section>
