<%= form_for @product do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= "#{pluralize(@product.errors.count, "error")} prohibited this product from being saved:" %>
      </h2>
      <ul>
        <% @product.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :category %>
    <% if @categories.empty? %>
      <tr>
        <td><%= check_box("categories_selected", "selected[]", { multiple: true }, 1, nil) %>
          <td>You need to run rake db:seed on the command line to add categories</td>
      </tr>
    <% else %>
      <% @categories.each do |category| %>
        <tr>
          <td><%= check_box("categories_selected", "selected[]", { multiple: true }, category.id, nil) %>
            <td><%= category.name %></td>
          </tr>
        <% end %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image%><br>
  </div>
  <div class="actions">
    <%= f.submit 'Save' %>
  </div>
<% end %>
