<h2>My Listings</h2>

<%# Sorting of products %>
<%= render 'shared/sortby' %>

<div class="usersellingtable">
  <% @products.each do |product| %>
    <div class="sellingrow">
      <%# Prevents errors if no image found %>
      <% if product.image.attached? %>
        <%= link_to image_tag(product.image, class: "productImage"), product_path(product.id) %>
      <% else %>
        <%= link_to image_tag("Icon.png", class: "productImage"), product_path(product.id) %>
      <% end %>
      <div class="about">
        <p><%= product.name %></p>
        <p><%= product.description %></p>
        <p><%= number_to_currency(product.price, :unit => "£") %></p>
      </div>
      <div class="options">
        <%= link_to image_tag("/assets/editicon.png", :alt => "edit icon", :class => "icon"), edit_product_path(product.id)%>
        <%= link_to image_tag("/assets/deleteicon.png", :alt => "delete icon", :class => "icon"), product_path(product.id), data: {method: :delete, confirm: "Are you sure?"} %>
      </div>
    </div>
  <% end %>
</div>
