<h2>Product</h2>

<p><%= @product.name %></p>
<% if @product.image.attached? %>
<%= image_tag(@product.image, class: "productImage")%>
<% end %>
<p><%= @product.description %></p>
  <%= link_to favorite_text,favorites_show_path(product: @product), id: 'favorite_link', remote: true %>
<p> <%= @categories %>

<p>
  <% if @categories %>
    <% @categories.each do |category| %>
      <p><%= category.name %></p>
    <% end %>
  <% else %>
    <p> No categories </p>
  <% end %>
<p>
