<h2>Product</h2>

<p><%= @product.name %></p>
<% if @product.image.attached? %>
  <%= image_tag(@product.image, class: "productImage")%>
<% end %>
<p><%= @product.description %></p>

<% if @inWishList %>
  <%= link_to "Remove from wish list", wishlist_path(product: @product) %>
<% else %>
  <%= link_to "Add to wish list", wishlist_path(product: @product) %>
<% end %>

<p> Seller:
  <%= link_to @product.user.firstname, products_path(user: @product.user) %>

</p>
<p>

  <%=@product.user.email %>
</p>

<p>
  <p> Categories: </p>
  <% if @categories && @categories != []%>
    <% @categories.each do |category| %>
      <p><%= category.name %></p>
    <% end %>
  <% else %>
    <p> No categories </p>
  <% end %>
<p>
