<h2>Product</h2>

<p><%= @product.name %></p>
<% if @product.image.attached? %>
<%= image_tag(@product.image, class: "productImage")%>
<% end %>
<p><%= @product.description %></p>

<%= link_to favorite_text, wishlist_path(product: @product), id: 'favorite_link'%>

<p> Seller:
  <%= link_to @product.user.firstname, products_path(user: @product.user), id: 'user_link' %>

</p>
<p>

  <%=@product.user.email %>
</p>

<p>
  <p> Categories: </p>
  <% if @categories && @categories != []%>
    <% @categories.each do |category| %>
      <p><%= category.name %></p>
    <% end %>
  <% else %>
    <p> No categories </p>
  <% end %>
<p>
